<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="dashboard-container">

        <!-- Sidebar -->
        <aside class="sidebar">

            <h2>TravelHub</h2>

            <ul>
                <li><a href="/admin-dashboard">Dashboard</a></li>
                <li><a href="/manage-users">Manage Users</a></li>
                <li><a href="/manage-bookings">Manage Bookings</a></li>
                <li><a href="/contact-messages">Contact Messages</a></li>
                <li><a href="/admin-profile">Admin Profile</a></li>
                <li><a href="/admin-logout">Logout</a></li>
            </ul>

        </aside>

        <!-- Main -->
        <main class="dashboard-content">

            <div class="dashboard-header">

                <h1>Admin Dashboard</h1>

                <p>
                    Welcome,
                    <strong>{{ session['admin_name'] }}</strong>
                </p>

            </div>

            <!-- Cards -->

            <div class="stats">

                <div class="card">
                    <h3>Total Users</h3>
                    <h2>{{ total_users }}</h2>
                </div>

                <div class="card">
                    <h3>Total Bookings</h3>
                    <h2>{{ total_bookings }}</h2>
                </div>

                <div class="card">
                    <h3>Total Revenue</h3>
                    <h2>₹{{ revenue }}</h2>
                </div>

                <div class="card">
                    <h3>Messages</h3>
                    <h2>{{ total_messages }}</h2>
                </div>

                <div class="card pending-card">
                    <h3>Pending</h3>
                    <h2>{{ pending }}</h2>
                </div>

                <div class="card confirmed-card">
                    <h3>Confirmed</h3>
                    <h2>{{ confirmed }}</h2>
                </div>

                <div class="card cancelled-card">
                    <h3>Cancelled</h3>
                    <h2>{{ cancelled }}</h2>
                </div>

            </div>

            <br>

            <a href="/export-bookings" class="export-btn">
            📥 Export Bookings CSV
        </a>
            <input type="hidden" id="pending" value="{{ pending }}">
            <input type="hidden" id="confirmed" value="{{ confirmed }}">
            <input type="hidden" id="completed" value="{{ completed }}">
            <input type="hidden" id="cancelled" value="{{ cancelled }}">
            <input type="hidden" id="monthlyRevenue" value='{{ monthly_revenue | tojson }}'>
            <!-- Charts -->

            <div class="charts">

                <div class="chart-card">
                    <h3>Booking Status</h3>
                    <canvas id="statusChart"></canvas>
                </div>

                <div class="chart-card">
                    <h3>Monthly Revenue</h3>
                    <canvas id="revenueChart"></canvas>
                </div>

            </div>

            <br><br>

            <!-- Recent Bookings -->

            <div class="recent-bookings">

                <h2>Recent Bookings</h2>

                <table>

                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>Destination</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>

                    </thead>

                    <tbody>

                        {% for booking in recent_bookings %}

                        <tr>

                            <td>{{ booking[0] }}</td>
                            <td>{{ booking[1] }}</td>
                            <td>{{ booking[2] }}</td>
                            <td>{{ booking[3] }}</td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{{ url_for('static', filename='admin.js') }}"></script>



</body>

</html>