<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>

    <div class="dashboard-container">

        <aside class="sidebar">
            <h2>TravelHub</h2>

            <ul>
                <li><a href="/admin-dashboard">Dashboard</a></li>
                <li><a href="/manage-users">Manage Users</a></li>
                <li><a href="/manage-bookings">Manage Bookings</a></li>
                <li><a href="/contact-messages">Contact Messages</a></li>
                <li><a href="/admin-profile">Admin Profile</a></li>
                <li><a href="/admin-logout">Logout</a></li>
            </ul>
        </aside>

        <main class="booking-content">

            <div class="form-box">

                <h2>Change Password</h2>

                <form method="POST">

                    <input type="password" name="current_password" placeholder="Current Password" required>

                    <input type="password" name="new_password" placeholder="New Password" required>

                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>

                    <button type="submit">
                    Update Password
                </button>

                </form>

            </div>

        </main>

    </div>

</body>

</html>