<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/destinations">Destinations</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <section class="contact-header">
        <h1> Contact Us</h1>
        <p> We 're here too help you plan your perfect journey.</p>
    </section>

    <section class="contact-section">
        <div class="contact-form">
            <h2>Send Us a Message
            </h2>
            <form>
                <div class="input-group">
                    <lable> Full Name</lable>
                    <input type="text" placeholder="Enter your name">
                </div>

                <div class="input-group">
                    <label>Subject</label>
                    <input type="text" placeholder="Enter Subject">
                </div>

                <div class="input-group">
                    <label>Message</label>
                    <textarea rows="6" placeholder="Write your message"></textarea>
                </div>

                <button type="submit" class="contact-btn">
                    Send Message
                </button>

            </form>
        </div>
        <div class="contact-info">

            <h2>Get In Touch</h2>

            <div class="info-box">
                <h3> Address</h3>
                <p>Nagpur, Maharashtra, India</p>
            </div>

            <div class="info-box">
                <h3> Phone</h3>
                <p>+91 98765 43210</p>
            </div>

            <div class="info-box">
                <h3> Email</h3>
                <p>support@travelease.com</p>
            </div>

            <div class="info-box">
                <h3> Working Hours</h3>
                <p>Mon - Sat : 9:00 AM - 8:00 PM</p>
            </div>

        </div>

    </section>

    <!-- Footer -->
    <footer class="footer">

        <div class="footer-bottom">
            <p>© 2026 TravelEase. All Rights Reserved.</p>
        </div>

    </footer>

</body>

</html>