<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <div class="dashboard-container">

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>TravelEase</h2>

            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/my-bookings">My Bookings</a></li>
                <li><a href="/destination">Destinations</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </aside>
        <main class="booking-content">
            <div class="booking-header">
                <h1>My Booking
                </h1>
                <p>View and manage all your travel bookings.</p>
            </div>

            <div class="search-box">
                <input type="text" placeholder="search Destination .....">
                <button>Search</button>
            </div>


            <div class="booking-table">
                <table>
                    <thead>
                        <tr>
                            <th>Destination</th>
                            <th>Date</th>
                            <th>Travelers</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking[0] }}</td>
                            <td>{{ booking[1] }}</td>
                            <td>{{ booking[2] }}</td>
                            <td>{{ booking[3] }}</td>
                            <td>₹{{ booking[4] }}</td>
                            <td>{{ booking[5] }}</td>
                            <td>{% if booking[5] != "Cancelled" %}
                                <a href="/cancel-booking/{{ booking[0] }}" class="cancel-btn"> Cancel</a> {% else %}
                                <span class="cancelled">Cancelled</span> {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </main>
    </div>

</body>

</html>