<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>

<body>

    <div class="dashboard-container">

        <!-- Sidebar -->
        <aside class="sidebar">

            <h2>TravelHub</h2>

            <ul>
                <li><a href="/dashboard"> Dashboard</a></li>
                <li><a href="/my-booking"> My Bookings</a></li>
                <li><a href="/destination"> Destinations</a></li>
                <li><a href="/profile"> Profile</a></li>
                <li><a href="/logout"> Logout</a></li>
            </ul>

        </aside>

        <!-- Main Content -->
        <main class="profile-content">

            <div class="profile-header">
                <h1>My Profile 👤</h1>
                <p>Manage your personal information.</p>
            </div>

            <div class="profile-card">

                <div class="profile-image">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile">
                    <p class="member-badge">Premium Traveler </p>
                </div>

                <div class="profile-details">

                    <h2>{{ user[1] }}</h2>

                    <div class="profile-row">
                        <span class="label">Name</span>
                        <span class="value">{{ user[1] }}</span>
                    </div>

                    <div class="profile-row">
                        <span class="label">Email</span>
                        <span class="value">{{ user[2] }}</span>
                    </div>

                    <div class="profile-row">
                        <span class="label">Phone</span>
                        <span class="value">{{ user[3] }}</span>
                    </div>

                </div>
            </div>


        </main>

    </div>

</body>

</html>